.redressed {
    font-family: 'redressed', cursive;
}

.merriweather {
    font-family: 'merriweather', serif;
}

.banners {
    background: url('image/IMG-20241228-WA0002.jpg')center center fixed;
    background-size: cover;
    height: 500px;
    min-height: 100vh;
}

.banners-desc {
    font-size: 48px;
    font-weight: 400;
    color: #fff;
}

body {
    background: #000;
    height: 100vh;
    min-height: 100vh;
}

h1 {
    color: #edb00e;
}

.card {
    transition: transform 0.3s, box-shadow 0.3s;
    text-align: center;
    overflow: hidden;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.card-img-top {
    object-fit: cover;
    height: 200px;
    width: 100%;
}

.card-title {
    margin-top: 10px;
    font-size: 1.2rem;
    font-weight: 500;
    color: #333;
}

.card-text {
    font-size: 0.9rem;
    color: #777;
}